.loading {
  visibility: hidden;
}

.loading-enter-done {
  visibility: visible;
}

.loading-enter {
  opacity: 0.01;
  /* transform: translateX(-100%); */
  visibility: visible;
}

.loading-enter-active {
  opacity: 1;
  /* transform: translateX(0%); */
  visibility: visible;
  transition: all 300ms cubic-bezier(1, 0.32, 0.88, 0.97);
}

.loading-exit {
  opacity: 1;
  font-size: 2rem;
  transform-origin: 50%, 50%;
  visibility: visible;

  transform: scale(1);
}

.loading-exit-active {
  opacity: 0;
  transform-origin: 50%, 50%;
  transform: scale(5);
  visibility: visible;
  transition: all 300ms cubic-bezier(1, 0.32, 0.88, 0.97);
}

.loading-exit-active svg {
  opacity: 0;
  transition: opacity 200ms ease-out;
}
